[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.8.6"
django = "==3.0"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
django-mssql-backend = "*"

[dev-packages]

[requires]
python_version = "3.8"
